.box {
    display: flex;
    padding: 20px;
    flex-wrap: nowrap;
}

.box h4 b {
    letter-spacing: 0.1rem;
    color: gray;
    font-style: italic;
}

.single-box {
    width: 100%;
    margin-bottom: 20px;
}