.box {
    display: flex;
    padding: 20px;
    flex-wrap: nowrap;
}

.box h4 b {
    letter-spacing: 0.1rem;
    color: gray;
    font-style: italic;
}

.single-box {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 10px;
}

.btns {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.btns button {
    width: 100px;
    margin: 5px;
}

@media screen and (min-width: 664px){
    .box {
        display: flex;
        justify-content: space-between;
    }

    .single-box {
        flex: 0 0 calc(50% - 10px);
    }
}