* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
a:hover {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}


/************* BACK TO TOP *****************/
.call {
  bottom: 2rem;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 200;
  background: #ef4035;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 50%;
  margin-left: 12px;
}

/************* SECTION TITLE *****************/
.sec-title-wrap {
  padding: 40px 0 25px 0;
  margin-bottom: 50px;
}

.sec-title-wrap h2 {
  color: #fff;
  font-size: 33px;
  font-weight: 500;
}

.sec-title-wrap .underline {
  width: 65px;
  height: 4px;
  background: #ff4a57;
}

/************* NAVBAR *****************/
nav {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 5;
  background: #1f2235;
}

nav .navbar-brand {
  font-size: 31px;
  font-weight: 500;
}

nav .navbar-brand:hover {
  color: #ff4a57 !important;
}

button.navbar-toggler {
  border-color: white !important;
}

/*------- Menu Links ------------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar li .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  margin: 0 12px;
  font-weight: 500;
  padding: 10px 0 0 0;
}

ul li .nav-link::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #ff4a57;
  margin-top: 7px;
  transition: all 0.3s;
}
ul li .nav-link:hover::after,
ul li .nav-link.active::after {
  width: 100%;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .navbar li .nav-link {
    text-align: center;
  }

  ul li .nav-link::after {
    display: none;
  }

  ul li .nav-link:hover,
  ul li .nav-link.active {
    color: #ff4a57 !important;
  }
}

/*************  HEADER *****************/
.header-wrapper {
  background: url(Images/hero.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  margin-top: 4.4em;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100%;
}

.main-info {
  text-align: center !important;
  z-index: 3;
}

.main-info h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .main-info h1 {
    font-size: 2rem;
  }
}

/* ---------- Typed text--------------- */
.typed-test {
  color: white;
  font-size: 32px;
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
}

.btn-main-info {
  background: #ef4035;
  border: 1px solid #ef4035;
  padding: 10px 12px;
  border-radius: 0;
  color: #fff;
}

.btn-main-info:hover {
  transition: 0.2s ease-in-out;
  color: #fff !important;
  background: none;
}

@media (max-width: 500px) {
  .typed-test {
    font-size: 25px;
  }
}

/* ---------- Particles Js--------------- */
.tsparticles-canvas-el {
  position: absolute;
  height: 85vh !important;
  width: 100vw;
  z-index: 0;
}

/*************  ABOUT ME *****************/
.about {
  background: #23263a;
  padding-bottom: 50px;
}

.about-info h3 {
  font-size: 23px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.about-img img {
  padding-right: 20px;
  height: 450px;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.about-contact {
  margin-bottom: 30px;
}

.about-contact:last-child {
  margin-bottom: 0;
}

.about-contact h4 {
  color: #ff4a57;
  font-size: 19px;
}

.about-contact span,
.about-contact a {
  color: #fff;
  font-size: 17px;
}

@media (max-width: 768px) {
  .about-img img {
    padding-right: 0;
    border-radius: 30px;
  }
}

@media (max-width: 500px) {
  .about-img img {
    height: 330px;
  }
}

/*************  SERVICES *****************/
.service {
  background: #1f2235;
  color: #fff;
  padding-bottom: 3rem;
}

.service-box {
  padding: 2.5rem 1.3rem;
  margin-bottom: 3rem;
  border: 1px solid #ff4a57;
}

.service-box:hover {
  background: #ff4a57;
  cursor: pointer;
}

.service-box .ico-circle i {
  font-size: 40px;
  padding-bottom: 15px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0.4rem 0;
}

/*************  PROJECTS *****************/
.project {
  background: #23263a;
  padding-bottom: 37px;
}

@media (max-width: px) {
  .project-row {
    margin-left: 40px !important;
  }
}

.project-box {
  position: relative;
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 10px;
}

.project-box .project-imgBx {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.project-box .project-imgBx img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.project-box:hover .project-imgBx img {
  opacity: 0;
}

.project-box .project-content {
  position: absolute;
  bottom: 20px;
  height: 40px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.project-box:hover .project-content {
  width: 100%;
  height: 100%;
  bottom: 0;
}

.project-box .project-content h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.project-box .project-content h3 {
  padding-top: 20px;
  font-size: 20px;
}

.project-box .project-content span {
  font-size: 15px;
}

.project-box .project-content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  padding-top: 10px;
}

.project-box:hover .project-content p {
  opacity: 1;
  transition-delay: 0.3s;
}

.project-box .project-content .project-btn {
  background: #ef4035;
  border: 1px solid #ef4035;
  padding: 9px 15px;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
}

.project-box .project-content .project-btn:hover {
  transition: 0.2s ease-in-out;
  color: #ff4a57 !important;
  background: none;
}

.p-link a {
  color: #fff !important;
  border: 1px solid #ef4035;
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 17px;
  margin-right: 14px;
}

.p-link a:hover {
  background: #ef4035;
}

@media (max-width: 768px) {
  .p-link a {
    margin-right: 5rem;
  }
}

@media (max-width: 500px) {
  .p-link a {
    margin-right: 3rem;
  }
}

/************* SKILLS *****************/
.skills {
  background: #1f2235;
  padding-bottom: 3rem;
  /* padding-top: 7rem; */
}

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}
.progress-wrap h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #fff;
}

.progress {
  height: 7px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: visible;
}

.progress-bar {
  background: #ff4a57 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
}

/************* FOOTER *****************/
.footer {
  background: #000;
  width: 100%;
  padding: 30px 0;
}

/************* 404 page *****************/
.wrap-404 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0px 30px;
}

.wrap-404 .wrapper {
  max-width: 960px;
  width: 100%; 
  margin: 30px auto;
  transform: scale(0.8);
}
.wrap-404 .landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.wrap-404 svg {
  width: 50%;
  max-height: 225px;
  height: auto;
  margin: 0 0 15px;
}
.wrap-404 h1 {
  font-size: 48px;
  margin: 0;
}
.wrap-404 p {
  font-size: 16px;
  margin: 16px auto 24px;
  text-align: center;
}
.wrap-404 .btn-404 {
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  background: #ef4035;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 #ccc;
}

/************* WORK IN PROGRESS *****************/
.work-pro {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .work-pro h1 {
    font-size: 2rem;
  }
}
